.movies-card-list {
    display: grid;
    gap: 38px 20px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
}

.movies-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 70px 0;
    box-sizing: border-box;
}

.movies-card-list__still-btn {
    width: 320px;
    height: 36px;
    margin: 60px auto 80px;
    padding: 0;
    border-radius: 6px;
    border: 0;
    background-color: #2F2F2F;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 1279px) {
    .movies-card-list {
        gap: 30px;
    }
    .movies-card-container {
        padding: 70px 30px 0;
    }
}

@media screen and (max-width: 767px) {
    .movies-card-container {
        padding: 40px 10px 0;
    }
    .movies-card-list {
        gap: 34px;
    }

    .movies-card-list__still-btn {
        width: 240px;
    }
}