.movies-card {
    display: flex;
    max-width: 270px;
    flex-wrap: wrap;
    justify-content: center;
}

.movies-card__image {
    width: 100%;
    height: 151px;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 10px;
}

.movies-card__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: white;
    margin: 4px 0 0;
    width: calc(100% - 24px);
}

.movies-card__stroke {
    background: url(../../images/movies-stroke.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #313131;
    margin-left: auto;
    border: none;
    padding: 0;
}

.movies-card__stroke_type_active {
    background-image: url(../../images/movies-stroke_active.svg);

}

.movies-card__delete {
    background: url(../../images/delete_button.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #313131;
    margin-left: auto;
    border: none;
    padding: 0;
}



.movies-card__duration {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 6px;
    width: 100%;
    border-top: 1px solid #424242;
}

@media screen and (max-width: 1279px) {
    .movies-card {
        max-width: 339px;
    }

    .movies-card__image {
        height: 191px;
    }
}

@media screen and (max-width: 767px) {
    .movies-card {
        max-width: 300px;
    }

    .movies-card__image {
        height: 168px;
    }

    .movies-card__title {
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__duration {
        font-size: 10px;
        line-height: 12px;
    }
}