.profile__form {
    display: flex;
    flex-direction: column;
    width: 396px;
    margin: 74px auto 70px;
    flex-grow: 1;
}

.profile__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin: 0 0 123px 0;
    text-align: center;
}

.profile__input-container {
    flex-wrap: wrap;
    display: flex;
    border-bottom: 1px solid #424242;
    margin-bottom: 17px;

}

.profile__input {
    border: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    background-color: #202020;
    height: 17px;
    padding: 0 0 10px;
    text-align: right;
    flex-grow: 1;
}

.profile__input_type_error {
    color: #EE3465;
}

.profile__input::placeholder {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #fff;
    text-align: right;
}

.profile__label {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #fff;
}

.profile__submit {
    margin: auto 0 16px;
    background-color: #202020;
    border: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    padding: 0;
    transition: opacity .8s ease-out;
    opacity: 1;
}

.profile__submit_is_disabled {
    transition: opacity .8s ease-out;
    opacity: .2;
}

.profile__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #EE3465;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .profile__form {
        width: 260px;
    }

}