.sign__form {
    width: 396px;
    display: flex;
    margin: 40px auto 70px;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    justify-content: space-between;

}


.sign__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin: 0 0 40px 0;
}

.sign__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}



.sign__label {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    margin: 0 0 5px;
}

.sign__input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background-color: #202020;
    height: 17px;
    padding: 0 0 10px;
    border: none;
    border-bottom: 1px solid #424242;
}

.sign__input:focus {
    border-color: #4285F4;
}

.sign__input_type_invalid {
    color: #EE3465;

}

.sign__error {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin: 0 0 5px;
    width: 100%;
}

.sign__submit {
    margin: auto 0 0;
    height: 45px;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 0;
}

.sign__text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
}

.sign__link {
    margin-left: 6px;
    color: #4285F4;
}
   
@media screen and (max-width: 767px) {
    .sign__form {
        width: 260px;
    }
    .sign__submit {
        font-size: 12px;
    }
    .sign__text {
        font-size: 12px;
    }
    .sign__link {
        font-size: 12px;
    }
}