.burger-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

}

.burger-menu_is-open {
    visibility: visible;
    opacity: 1;  
}

.burger-menu__container {
    display: flex;
    flex-direction: column;
    width: min(100%, 520px);
    margin-left: auto;
    background-color: brown;
    padding: 159px 0 92px;
    background-color: #202020;
}

.burger-menu__close {
    position: absolute;
    top: 22px;
    right: 22px;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background-color: #202020;
    border: 0;
    background-image: url(../../images/close.svg);
    background-size: cover;
}

.burger-menu__link {
    text-decoration: none;
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0 0 28px;
    text-align: center;
}

.burger-menu__link_type_active {
    text-decoration: underline;
}

.burger-menu__btn {
    text-decoration: none;
    align-self: center;
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background-color: #202020;
    border: none;
    margin: auto 0 0;
    padding: 0;
}

.burger-menu__btn::after {
    content: '';

    border-radius: 6px;
    background-image: url('../../images/icon-link.svg');
    background-color: #313131;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
}

@media screen and (max-width: 424px) {
    .burger-menu__container {
        padding: 144px 0 48px;
    }
    .burger-menu__close {
        top: 13px;
    right: 13px;
    }
}