.about-project {
    display: flex;
    flex-direction: column;
}

.about-project__container {
    padding: 0 70px 0;
    
}

.about-project__subtitle {
    margin: 110px 0 70px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
    min-width: 100%;
}

.about-project__chart-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 36px 36px;
    /* margin-bottom: 110px; */
}

.about-project__chart {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    text-align: center;
    padding: 9px 0;
}

.about-project__chart_type_one {
    background-color: #3DDC84;
}

.about-project__chart_type_two {
    background-color: #303030;
    color: #fff;
}

.about-project__chart_type_three {
    color: #8B8B8B;
}

@media screen and (max-width: 1279px) {
    .about-project__subtitle {
        margin-top: 90px;
    }
    .about-project__container {
        padding: 0 50px 90px;
    }
}

@media screen and (max-width: 767px) {
    .about-project__subtitle {
        margin-top: 70px;
        margin-bottom: 60px;
        padding-bottom: 28px;
    }
    .about-project__container {
        padding: 0 18px 70px;
    }

    .about-project__chart {
        font-size: 11px;
        line-height: 13px;
    }
}