.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

.about-me__container {
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
    margin-bottom: 100px;
}

.about-me__subtitle {
    margin: 110px 0 66px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
    min-width: 100%;
}

.about-me__title {
    margin-bottom: 18px;
    letter-spacing: -0.04em;
}

.about-me__dectription {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    max-width: 640px;
    color: white;
    margin: 0;
}

.about-me__main-text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    max-width: 640px;
    color: white;
    margin: 26px 0 100px;
    max-width: 600px;
}

.about-me__link-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.about-me__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: white;
    margin-right: 20px;
}

.about-me__avatar {
    width: 270px;
    height: 327px;
    position: absolute;
    bottom: 0;
    right: 70px;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 1279px) {
    .about-me__container {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 90px;
    }
    .about-me__title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .about-me__dectription {
        font-size: 12px;
        line-height: 18px;
 
    }
    .about-me__main-text {
        font-size: 12px;
        line-height: 18px;
        margin: 20px 0 87px;
        max-width: 364px;
        mix-blend-mode: normal;
    }

    .about-me__avatar {
        right: 50px;
        width: 255px;
    height: 307px;
    }
.about-me__subtitle {
    margin-top: 90px;
}
}

@media screen and (max-width: 767px) {
    .about-me__container {
        padding: 0 14px;
        margin-bottom: 70px;
    }
    .about-me__subtitle {
        order: -2;
        margin-top: 70px;
        padding-bottom: 28px;
        margin-bottom: 60px;
    }

.about-me__avatar {
    position: static;
    order: -1;
    width: 292px;
    height: 352px;
}

.about-me__title {
    font-size: 30px;
        line-height: 36px;
        margin-top: 40px;
        margin-bottom: 20px;
}

.about-me__dectription {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
}

.about-me__main-text {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;

}
.about-me__link {
    margin-right: 26px;
}

}