.nav-tab {
    display: flex;
    align-items: center;
}

.nav-tab__container {
    column-gap: 30px;
    margin-left: auto;
}

.nav-tab__container_type_movies {
    margin-left: auto;
}

.nav-tab__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
}

.nav-tab__link_type_signin {
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    width: 76px;
    height: 32px;
    background-color: #3DDC84;
    border-radius: 3px;
}

.nav-tab__link_type_movies {
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
}

.nav-tab__link_type_movies:nth-child(2) {
    margin-right: 50px;
}
.nav-tab__link_type_movies:last-of-type {
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    width: 100px;
    place-items: center;
}

.nav-tab__link-icon {
    border-radius: 6px;
    background-image: url('../../images/icon-link.svg');
    background-color: #313131;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
}

.nav-tab__burger {
    display: flex;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: none;
}

@media screen and (max-width: 1279px) {
    .nav-tab__link_type_movies {
        display: none;
    }
    .nav-tab__link_type_movies:last-of-type {
        display: none;
    }
   
    .nav-tab__burger {
        visibility: visible;
        opacity: 1;
        width: 44px;
        height: 44px;
        background-image: url("../../images/icon-burger-menu.svg");
        background-color: #202020;
    }
}

@media screen and (max-width: 767px) {
    .nav-tab__container {
        column-gap: 14px;
    }
    .nav-tab__link {
        font-size: 10px;
        line-height: 16px;
    }
    .nav-tab__link_type_signin {
        width: 54px;
        height: 26px;
    }
}